@inherits ContentPage<Page.ArticlePageContent>

<content-element tag="div" class="page-article" />

<h1 content-text="Header" />
<p><strong content-text="SubHeader"></strong></p>

<div content-object="Blocks" content-designer="page-blocks"></div>