@inherits ContentPage<Page.ArticlePageContent>

<content tag="div" class="page-article" />

<h1 content-text="Header" />
<p><strong content-text="SubHeader"></strong></p>

<div content-list="Blocks"></div>