@inherits RazorContent<Page.CommonPageContent>

<content-element tag="div" class="page-article" />

<header class="page-header">
    <h1 content-text="Header" />
</header>

<div content-object="Blocks" content-designer="page-blocks"></div>