@inherits ContentPage<Page.NewsListPageContent>

<content-element tag="div" class="page-news-list" />

<header class="page-header">
    <div class="content">
        <h1 content-text="Header" />
    </div>
</header>

<div class="items">
    @foreach (var item in await GetChildPagesAsync(Model.NewsCollection))
    {
        <div class="item">
            <a asp-page-path="@item.UrlPath">@item.Header</a>
        </div>
    }
</div>

<div content-object="Blocks" content-designer="page-blocks"></div>