@inherits ContentPage<Page.NewsListPageContent>

<content-element tag="div" class="page-article" />

<header class="page-header">
    <h1 content-text="Header" />
</header>

<div>
    @foreach (var item in await GetChildPagesAsync(Model.NewsCollection))
    {
        <div>
            <a asp-page-path="@item.UrlPath">@item.Title</a>
        </div>
    }
</div>

<div content-object="Blocks" content-designer="page-blocks"></div>