@model DemoWebSite.ContentModels.PageBlocks.ImageBlockContent

<div class="content-block content-block-image">
    <div class="page-width">
        <div bind-image="Image" title="@Model.Title" class="image"></div>
    </div>
</div>