@model MobileMenuContent

<content-element tag="div" class="app-menu" />

<div class="close" data-command="toggle-app-menu"></div>
<div class="content">
    <ul content-object="Items" class="site" />
    <ul class="user">
        @if (User.Identity.IsAuthenticated)
        {
            <li><a href="#" data-command="signout">Sign out</a></li>
        }
        else
        {
            <li><a href="#" data-command="signin">Sign in</a></li>
        }
    </ul>
</div>