<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LandingWebSite</title>

    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>
    <link type="text/css" rel="stylesheet" href="~/dist/app.css" asp-append-version="true" />
</head>
<body>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</body>
</html>