@model AppPageModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Title</title>
</head>
<body>
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>
    <link type="text/css" rel="stylesheet" href="~/dist/app.css" asp-append-version="true" />

    @Html.AntiForgeryToken()

    <div class="app">
        <nav class="app-top">
            <div class="content-width">
                <a asp-page-path="/" class="logo">LandingWebSite</a>
                <ul>
                    <li><a asp-page-path="/test">Test</a></li>
                    <li><a asp-page="/about" class="applink">About</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="#" data-command="signout">Sign out</a></li>
                    }
                    else
                    {
                        <li><a href="#" data-command="signin">Sign in</a></li>
                    }
                </ul>
            </div>
        </nav>
        <main id="page-content" role="main" class="content-width app-content">
            @RenderBody()
        </main>
    </div>
</body>
</html>