@model AppPageModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Title</title>
</head>
<body>
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>
    <link type="text/css" rel="stylesheet" href="~/dist/app.css" asp-append-version="true" />

    @Html.AntiForgeryToken()

    <div class="app">
        <nav class="app-top">
            <div class="content-width">
                <a content-page="/" class="logo applink">LandingWebSite</a>
                <ul>
                    <li><a asp-page="/SignIn" class="applink">Sign in</a></li>
                </ul>
            </div>
        </nav>
        <main id="page-content" role="main" class="content-width app-content">
            @RenderBody()
        </main>
    </div>
</body>
</html>