@model AppPageModel
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="~/dist/app.css" asp-append-version="true" />
</head>
<body class="landing">
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>

    <div class="app">
        @await Html.BlockAsync("page-nav", typeof(Contents.PageNav.PageNavContent))
        <main role="main" class="content-width app-content" page-content>
            @RenderBody()
        </main>
    </div>
    <div class="app-menu">
        <div class="close" data-command="toggle-app-menu"></div>
        <div class="content">
            <ul class="menu">
                <li><a asp-page-path="/">Home</a></li>
                <li><a asp-page-path="/news">News</a></li>
                <li><a asp-page="/about">About</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="#" data-command="signout">Sign out</a></li>
                }
                else
                {
                    <li><a href="#" data-command="signin">Sign in</a></li>
                }
            </ul>
        </div>
    </div>
</body>
</html>