@model DemoWebSite.ContentModels.Pages.PageContent

<div class="page-header">
    <div class="page-width">
        <div class="header">
            <h1 content="Title" />
        </div>
    </div>
</div>

<div bind-list="Blocks" />