@import "../../vars.less";

.image-designer {
    position: relative;

    &:hover {
        & .image-designer-menu {
            opacity: 0.4;
        }
    }

    & input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        visibility: visible;
    }

    & ul {
        top: auto;
        bottom: 40px;
        right: 0;
        width: 180px;
        list-style: none;
        padding: 8px 0;
        margin: 0;
        z-index: 500;
        display: none;

        & li {
            padding: 0;
            margin: 0;

            &.split {
                overflow: hidden;
                height: 1px;
                margin: 5px 15px;
                background: #eee;
            }
        }

        & a {
            display: block;
            color: @Text-Color;
            text-decoration: none;
            padding: 5px 15px;
            font-size: 13px;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            box-sizing: border-box;
        }
    }

    &.uploading {
        & .image-designer-menu {
            & button {
                display: none;
            }
        }

        & .image-designer-progress {
            display: block;
        }
    }

    &.draging {
        outline: solid 2px @Accent-Color;
    }

    &.opened-menu {
        & .image-designer-menu {
            opacity: 1;
        }

        & ul {
            display: block;
        }
    }
}

.image-designer-menu {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 500;
    opacity: 0;
    transition: opacity ease 120ms;

    & button {
        width: 30px;
        height: 30px;
        margin: 0;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px rgba(0,0,0,0.2);
        border-radius: 2px;
        outline: none;
        background: #fff;

        & svg {
            fill: @Text-Color;
            width: 12px;
            height: 12px;
        }
    }

    &:hover {
        opacity: 1 !important;
    }
}

.image-designer-progress {
    display: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 500;
    width: 30px;
    height: 30px;
    background: #fff;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 2px;

    &:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        margin-top: -9px;
        margin-left: -9px;
        border-radius: 50%;
        border: 2px solid transparent;
        border-top-color: @Accent-Color;
        border-bottom-color: @Accent-Color;
        animation: bp-spinner .8s ease infinite;
    }
}