@page
@model LandingWebSite.Pages.Blog.CreateModel
@{ await Model.RenderPageAsync(this); }

<header class="page-header">
    <div class="content">
        <h1>@Model.Title</h1>
    </div>
</header>

<section class="page-section page-section-form">
    <form method="post" asp-antiforgery="true">
        <div class="rows">
            <div class="row">
                <div class="field field2">
                    <label asp-for="Name"></label>
                    <div class="control">
                        <input type="text" asp-for="Name" class="textbox" maxlength="150" required autocomplete="off" />
                    </div>
                    <div class="note">В дальнейшем вы его сможете изменить.</div>
                </div>
            </div>
        </div>
        <div asp-validation-summary="All" class="validation-summary"></div>
        <div class="buttons">
            <button type="submit" class="app-button">Создать</button>
            <a nav-url="@Model.ReturnUrl" class="app-button secondary">Отмена</a>
        </div>
    </form>
</section>