@page
@model IndexModel

<page>
    <header class="page-header">
        <div class="content">
            <h1>@Model.Title</h1>
        </div>
        <ul class="actions">
            <a href="" class="app-button">New post</a>
        </ul>
    </header>
</page>