@page
@model LandingWebSite.Pages.Blog.IndexModel
@{ await Model.RenderPageAsync(this); }

<header class="page-header">
    <div class="content">
        <h1>@Model.Title</h1>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="actions">
            <a asp-page="Create">Новый пост</a>
        </div>
    }
</header>

<section class="page-post-list">
    @foreach(var post in Model.Posts)
    {
        <div class="post">
            <a nav-url="@await Url.ItemPathAsync(post)">@post.Title</a>
        </div>
    }
</section>