@import "../vars.less";

.html-designer {
    outline: none;

    &:hover {
        outline: dotted 1px #cfcfcf;
    }

    &:focus {
        outline: dotted 1px #000;
    }

    &.empty-value {
    }

    &.hide-ui {
        &:hover,
        &:focus {
            outline: none;
        }
    }
}