@import "./vars.less";

:root {
    --ck-border-radius: 0 !important;
    --ck-spacing-large: 0 !important;
    --ck-spacing-standard: 0 !important;
    --ck-font-size-tiny: 0 !important;
    --ck-z-default: 100 !important;
    --ck-z-modal: calc( var(--ck-z-default) + 999 ) !important;
    --ck-inner-shadow: none !important;
}

body:has(.editor-toolbar) {
    & .app {
        padding-bottom: 76px;
    }
}

.bp-elem {
    font-family: @Font-Family;
    font-size: @Font-Size;
    line-height: @LineHeight;
    color: @Text-Color;
    font-weight: normal;
    font-style: normal;
    text-align: left;

    & input,
    & select,
    & button {
        font-family: @Font-Family;
        font-size: @Font-Size;
        color: @Text-Color;
    }

    & button {
        box-sizing: border-box;
        outline: none;
        border: 1px solid transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: @Main-Color;
    }

    & a {
        color: @Link-Color;

        &:hover {
            color: @Link-Color-Hover;
        }
    }

    & svg {
        display: block;
        fill: @Neutral-Darkest;
        width: 24px;
    }

    & menu {
        padding: 0;
        margin: 0;
    }
}

.bp-button {
    height: 42px;
    background: @Accent-Darkest;
    padding: 8px 28px;
    border-radius: @Border-Radius;
    text-transform: capitalize;
    gap: 5px;

    & svg {
        width: 18px;
        fill: @Main-Color;
    }

    &.language {
        text-transform: uppercase;
    }

    &.secondary {
        background: none;
        border: 1px solid @Accent-Darkest;
        color: @Accent-Darkest;

        & svg {
            fill: @Accent-Darkest;
        }

        &.red {
            border-color: @Error-Darkest;
            color: @Error-Darkest;

            & svg {
                fill: @Error-Darkest;
            }

            &:hover {
                background: none;
                border: 1px solid @Error-Dark;
                color: @Error-Dark;

                & svg {
                    fill: @Error-Dark;
                }
            }
        }

        &:hover {
            background: none;
            border: 1px solid @Accent-Medium;
            color: @Accent-Medium;

            & svg {
                fill: @Accent-Medium;
            }
        }

        &:focus,&:active {
            background: none;
        }
    }

    &.neutral {
        background: @Neutral-Light;
        color: @Neutral-Darkest;

        & svg {
            fill: @Text-Color;
        }

        &:hover {
            background: @Neutral-Medium;
        }

        &:focus {
            background: @Neutral-Medium;
            border: 1px solid @Neutral-Dark;
        }
    
        &:active {
            background: @Neutral-Medium;
            color: @Neutral-Dark;

            & svg {
                fill: @Neutral-Dark;
            }
        }
    }

    &:hover,&:focus {
        background: @Accent-Dark;
    }

    &:active {
        background: @Accent-Darkest;
    }
}

.bp-toggler {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    padding: 20px 35px 40px 35px;

    & li {
        border-radius: 5px;
        padding: 6px;
        display: flex;
        gap: 6px;
        color: @Neutral-Dark;
        background-color: @Neutral-Light;
        cursor: pointer;

        &.current {
            color: @Neutral-Lightest;
            background-color: @Accent-Darkest;
        }

        & span {
            color: @Neutral-Medium;
        }
    }
}

.ck.ck-block-toolbar-button {
    z-index: 1100 !important;
}

body.bp-state-loading {
    & .bp-page-loader {
        display: block;
    }
}

@keyframes bp-spinner {
  to {transform: rotate(360deg);}
}

@import "./admin/page-toolbar.less";
@import "./content/editor.less";