@inherits ContentPage<BannerBlock.BB1_Item>

<content-element tag="div" class="item" />

<a content-link="Link">
    <i content-image="Image" />
    <h3 content-text="Header" />
    <p content-text="SubHeader" />
</a>