@inherits ContentPage<BannerBlock.BB1_Item2>

<content-element tag="div" class="item item2" />

<a href="">
    <i content-image="Image" />
    <h3 content-text="Header" />
    <p content-text="SubHeader" />
</a>