@import "../vars.less";

.website-form-field {
    & ~ .field-errors {
        display: none;
    }

    &.has-errors {
        & ~ .field-errors {
            display: block;
        }
    }

    & .caption {
        display: flex;
        justify-content: space-between;

        & svg {
            fill: @Neutral-Dark;

            &:hover {
                fill: @Neutral-Darkest;
                cursor: pointer;
            }
        }
    }
}