@import "../../vars.less";

.text-designer {
    outline: none;
    position: relative;
    cursor: text;

    &:before {
        content: attr(data-placeholder);
        display: none;
        opacity: 0.5;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        align-items: center;
    }

    &:hover {
        outline: dotted 1px #cfcfcf;
    }

    &:focus {
        outline: dotted 1px #000;
    }

    &.empty-value {
        &:before {
            display: flex;
        }
    }

    &.hide-ui {
        &:hover,
        &:focus {
            outline: none;
        }
    }
}