@inherits ContentPage<Page.NewsPageContent>

<content-element tag="div" class="page-article" />

<header class="page-header">
    <h1 content-text="Header" />
    <p><strong content-text="SubHeader" /></p>
</header>

<div content-object="Blocks" content-designer="page-blocks"></div>
