@inherits ContentPage<BannerBlock.BB1_Item2>

<content-element tag="div" class="item item2" />

<a content-link="Link" class="link">
    <i content-image="Image" content-image-width="1200" content-image-height="500" />
    <h3 content-text="Header" content-render-mode="HasValue" />
    <p content-text="SubHeader" content-render-mode="HasValue" />
</a>