@page
@model LandingWebSite.Pages.AbountModel
@{ await Model.RenderPageAsync(this); }

<h1>@Model.Title</h1>

<div>
    <h4 content-text="ContentModel.Title">test</h4>

    <a href="#test">link with hash</a>
</div>

@await Html.RenderContentAsync("test", typeof(Contents.TextBlock.TB1))

@await Html.RenderContentAsync("test2", typeof(Contents.BannerBlock.BB1))