@page
@model LandingWebSite.Pages.AbountModel
@{ await Model.RenderPageAsync(this); }

<h1>@Model.Title</h1>

@await Html.BlockAsync(typeof(LandingWebSite.Contents.TextBlock.TB2), "TB2")
<div><a href="#test">hash</a></div>
@await Html.BlockAsync(typeof(LandingWebSite.Contents.TextBlock.TB1), "TB2")