@page
@model LandingWebSite.Pages.AbountModel

<page>

    <header class="page-header">
        <h1>@Model.Title</h1>
    </header>

    <div>
        <h4 content-text="ContentModel.Title">header</h4>

        <a href="#test">link with hash</a>
    </div>

    <div class="page-blocks">
        @(await Html.RenderContentAsync<LandingWebSite.Contents.TextBlock.TB1>(ContentScope.Global, "test"))

        @await Html.RenderContentAsync(ContentScope.Website, "test2", typeof(Contents.BannerBlock.BB1))
    </div>

</page>