@page
@model LandingWebSite.Pages.AbountModel
@{ await Model.RenderPageAsync(this); }

<h1>@Model.Title</h1>

@await Html.BlockAsync(typeof(LandingWebSite.Contents.Page.CommonPageContent), "Block1")
<div><a href="#test">hash</a></div>
@await Html.BlockAsync(typeof(LandingWebSite.Contents.Page.CommonPageContent), "Block2")