@page
@model LandingWebSite.Pages.AbountModel
@{ await Model.RenderPageAsync(this); }

<h1>@Model.Title</h1>

<div><a href="#test">hash</a></div>

@await Html.BlockAsync("test", typeof(Contents.TextBlock.TB1))