@page "{PostId}"
@model PostModel

<page>

    <header class="page-header">
        <div class="content">
            <h1 content-text="ContentModel.Title"></h1>
        </div>
    </header>

    <div content-object="ContentModel.Blocks" content-designer="page-blocks" class="page-blocks"></div>

</page>